<ion-header>
  <ion-toolbar>
    <ion-title>detalles opcion de cambio o</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Ingredientes</ion-title>
  <ion-list>
    <ion-grid>
      <ion-row *ngFor="let ingrediente of plato.ingredientes">
        <ion-col>{{ingrediente.alimento.nombre|titlecase}}</ion-col>
        <ion-col>{{ingrediente.cantidad|number : '1.2-2'}}</ion-col>
      </ion-row>
    </ion-grid> </ion-list
  ><ion-item>
    <ion-label>Esta es la receta :</ion-label>
    <ion-text>{{plato.receta}}</ion-text>
  </ion-item>
</ion-content>
